.use-cases {
  margin-top: 20px;
  margin-bottom: 20px;
  box-sizing: border-box;
  *, *:before, *:after {
    box-sizing: inherit;
  }
  color: #4A5960;
  font-size: 14px;
  font: 400 16px/24px Roboto,sans-serif;
  :link, :visited {
    outline: 0;
    text-decoration: none;
  }
  h2 {
    border-bottom: 1px solid #ebebeb;
    border-color: rgba(0, 0, 0, 0);
    font: 300 24px/32px Roboto,sans-serif;
    letter-spacing: -.01em;
  }
  h3 {
    font: 400 20px/32px Roboto,sans-serif;
    margin: 32px 0 16px;
  }
  .flex-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
  }
  .product-card {
    background: #fff;
    border-top: 3px solid #5584e4;
    margin: 0 10px 22px;
    padding: 0;
    width: calc(33.3% - 20px);
    @media screen and (max-width: 767px) {
      width: 100%;
    }
    a {
      > div {
        padding: 6px 48px 0 16px;
      }
      &, &:visited {
        border-bottom: 1px #e0e0e0 solid;
        color: #414141;
        display: block;
        min-height: 104px;
        padding: 19px 14px;
        position: relative;
      }
      &:hover {
        color: #538fe7;
      }
    }
    p {
      color: #9d9d9d;
      font-size: 13px;
      line-height: 1.3em;
      margin: 0;
    }
    i.material-icons {
        position: absolute;
        right: 26px;
        top: 40%;
    }
    h2 {
      background-position: 20px;
      background-repeat: no-repeat;
      font-size: 20px;
      font-weight: 400;
      line-height: 1.2em;
      margin: 0;
      padding: 23px 56px 18px 82px;
      .material-icons {
        position: absolute;
        left: 0;
        top: 26%;
        font-size: 50px;
        right: 0;
        width: 100px;
        text-align: center;
        color: #2b85e7;
      }
    }
    h3 {
      font-size: 16px;
      margin: 0;
    }
  }
}