.toggle-paragraph {
	text-align: right;
	margin-top: 0.1em;
	margin-bottom: 1em;
}

.download-table {
	margin-bottom: 11px;
}
.table-toggle {
	color: #ff9900;
	cursor: pointer;
}

.table-toggle:hover {
	color: #e47521 ;
	background-color: #ffffff;
	font-style: italic;
}
