.graph {
  float: none;
  width: 100%;
}

body {
  padding-right: 0 !important;
}

pre.code-shard {
  background-color: #f5f2f0;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  white-space: pre-wrap;
}

.code-constrained-width {
  max-width: 172px;
}


.navbar.navbar-default {
  padding-right: 0 !important;
}

.vis-wrapper {
  margin-left: 0em;
  margin-right: 0em;
}

.table.table-file-metadata {
  width: 60%;
}

.table.table-file-metadata th {
  font-size: 1.1rem;
}
.table.table-file-metadata th,
.table.table-file-metadata td {
  font-weight: 300;
}

.table.table-file-metadata td {
  font-size: 1rem;
}

.table.table-file-metadata td.regex {
  font-weight: 400;
  font-size: 1.2rem;
}

.dictionary-viewer-main .pill {
  padding: 6px 6px;
  background: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-align: right;
  width: 120px;
  text-align: center;
}

.dictionary-viewer-main .badge {
  padding: 3px 7px;
}

.pill.addition {
  background-color: rgb(73, 146, 70);
}

.pill.change {
  background-color: rgb(167, 22, 23);
}

.minimap-container {
  margin: 1rem 0rem 1rem 0rem;

}

.dictionary-viewer-main .tree table {
  border: none;
}

.dictionary-viewer-main .form-control {
  font-size: 14px;
  padding: 12px 12px;
  height: 34px;
  border-color: #e6e6e6;
  outline: rgb(115, 179, 229);
}

.dictionary-viewer-main .form-control:focus {
  outline: 5px auto rgb(115, 179, 229);
  outline-offset: -2px;
  border: solid 1px rgb(115, 179, 229);
}



.dictionary-viewer-main {
  display: block;
  width: 100%;
  padding: 0.5rem 2rem;
}

.dictionary-viewer-main .dictionary-viewer-content {
  width: 100%;
}
.dictionary-viewer-controls {
  margin-bottom: 2rem;
}

.dictionary-viewer-controls .view-select-container {
  text-align: right;
}

.dictionary-viewer-controls .version-select-container {
  text-align: right;
}

.dictionary-viewer-controls .changes-container {
  text-align: right;
}

.dictionary-viewer-controls .view-selector {
  display: inline-block;
  width: 9rem;
}
.dictionary-viewer-controls .version-selector {
  display: inline-block;
  width: 12rem;
}
.jsoneditor .search .frame table {
  border: none;
  margin-top: 4px;
}

.jsoneditor .search .results {
  line-height: 28px;
}

.jsoneditor .search input {
  width: 120px;
  border: none;
  outline: 0;
  margin: 1px;
}

.jsoneditor table.search td,
.jsoneditor table.search tr {
  border: none;
  background-color: transparent;
}

.jsoneditor .search .frame {
  border: solid 1px #ccc;
}