.graph {
  float: none;
  width: 100%;
}

body {
  padding-right: 0 !important;
}

pre.code-shard {
  background-color: #f5f2f0;
  font-family: Monaco,Menlo,Consolas,"Courier New",monospace;
  white-space: pre-wrap;
  position: relative;
}

.code-zoom-indicator {
  position: absolute;
  top: 40%;
  left: 35%;
  font-size: 4rem;
  opacity: 0.35;
  transition: opacity 0.5s ease-in-out;
}
td:hover .code-zoom-indicator {
  opacity: 1;
}

.code-constrained-width {
  max-width: 172px;
}

.selection_wrapper {
  margin-bottom: 6rem;
}


.navbar.navbar-default {
  padding-right: 0 !important;
}

.vis-wrapper {
  margin-left: 0em;
  margin-right: 0em;
}

.table.table-file-metadata {
  width: 60%;
}

.table.table-file-metadata th {
  font-size: 1.1rem;
}
.table.table-file-metadata th,
.table.table-file-metadata td {
  font-weight: 300;
}

.table.table-file-metadata td {
  font-size: 1rem;
}

.table.table-file-metadata td.regex {
  font-weight: 400;
  font-size: 1.2rem;
}

.dictionary-viewer-main .pill {
  padding: 6px 6px;
  background: #000;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  color: #fff;
  display: inline-block;
  text-align: right;
  width: 120px;
  text-align: center;
}

.dictionary-viewer-main .badge {
  padding: 3px 7px;
}



.pill.pill-tab-bttn {
  transition: background-color 0.25s ease-in;
  width: auto;
}

.pill-tab-bttn.addition {
  background-color: rgb(73, 146, 70);

}

.pill-tab-bttn.addition:hover {
  background-color: rgb(115, 190, 72);
}

.pill-tab-bttn.remove {
  background-color: rgb(167, 22, 23);
}

.pill-tab-bttn.remove:hover {
  background-color: rgb(215, 22, 23);
}

.pill-tab-bttn.change {
  background-color: rgb(158, 123, 5);
}

.pill-tab-bttn.change:hover {
  background-color: rgb(210, 175, 5);
}

.minimap-container {
  margin: 1rem 0rem 1rem 0rem;

}

.dictionary-viewer-main .tree table {
  border: none;
}

.dictionary-viewer-main .form-control {
  font-size: 14px;
  border-color: #e6e6e6;
  outline: rgb(115, 179, 229);
}

.dictionary-viewer-main .form-control:focus {
  outline: 5px auto rgb(115, 179, 229);
  outline-offset: -2px;
  border: solid 1px rgb(115, 179, 229);
}

.dictionary-viewer-main {
  display: block;
  width: 100%;
  padding: 0.5rem 1rem;
}

.bttn-hover-expand-caption {
  height: 45px;
}


.bttn-hover-expand-caption span {
  transition: width 0.4s ease-in-out, border-radius 0.4s ease-in-out;
  overflow: hidden;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  width: 0px;
  vertical-align: top;
}

.bttn-hover-expand-caption:hover {
  border-radius: 0px;
}

.bttn-hover-expand-caption:hover span {
  width: 230px;
}

.dictionary-viewer-main .dictionary-viewer-content {
  width: 100%;
}

.dictionary-header {
  text-align: right;
}

.dictionary-header > .current-version-label {
  padding: 0.5rem 0rem;
}

.dictionary-viewer-controls {
  height: 8rem;
  margin-bottom: 3rem;
}

.dictionary-viewer-controls label {
  margin: 0px 1rem;
}

.version-select-container .version-label {
  display:inline-block;
  line-height: 24px;
}

.version-selector-container {
  display:inline-block;
}

.dictionary-viewer-controls > div {
  margin-top: 1rem;
}

.dictionary-viewer-controls .view-select-container {
  text-align: right;
}

.dictionary-viewer-controls .version-select-container {
  text-align: left;
  padding-left: 0rem;
}

.changes-container {
  text-align: right;
  margin-bottom: 2rem;
}

.dictionary-viewer-controls .view-selector {
  display: inline-block;
  width: 9rem;
}
.dictionary-viewer-controls .version-selector {
  display: inline-block;
  width: 12rem;
}

/* Tabs */

.dictionary-viewer-main .nav-tabs {
  border-bottom-color: #ccc;
}
.dictionary-viewer-main .nav-tabs>li {
  margin-right: -.25rem;
}

.dictionary-viewer-main .nav-tabs>li.active>a:focus,
.dictionary-viewer-main .nav-tabs>li.active>a {
  border-top-width: 1px;
  border-left: solid 1px #ccc;
  border-right: solid 1px #ccc;
}

.dictionary-viewer-main .nav-tabs>li>a {
  background-color: #f2f2f2;
  border-radius: 0px;
  color: #000;
  border-color: #ccc;
  border-top-width: 1px;
  border-bottom: none;
}

.dictionary-viewer-main .nav-tabs>li>a.graph-tab:hover,
.dictionary-viewer-main .nav-tabs>li.active>a.graph-tab {
  border-top-color: #6d72c5;
}

.dictionary-viewer-main .nav-tabs>li>a.table-tab:hover,
.dictionary-viewer-main .nav-tabs>li.active>a.table-tab {
  border-top-color: #d33682;
}

.dictionary-viewer-main .nav-tabs>li>a.codelist-tab:hover,
.dictionary-viewer-main .nav-tabs>li.active>a.codelist-tab {
  border-top-color: #1a9900;
}

.dictionary-viewer-main .nav-tabs>li>a.report-tab:hover,
.dictionary-viewer-main .nav-tabs>li.active>a.report-tab {
  border-top-color: #1693c0;
}

.dictionary-viewer-main .nav-tabs>li>a:hover,
.dictionary-viewer-main .nav-tabs>li>a:focus {
  background-color: #fafafa;
  border-color: #ccc;
  border-top-width: 1px;
}


.dictionary-viewer-main .nav-tabs>li.active>a,
.dictionary-viewer-main .nav-tabs>li.active>a:focus,
.dictionary-viewer-main .nav-tabs>li.active>a:hover {
  background: #fff;
  color: #333;
  cursor: default;
  border-top-width: 1px;
  border-bottom-color: transparent;
}

.tab-container {
  margin: 0px;
  border-top: none;
}

.dictionary-viewer-main #jsonviewer {
  margin: 0rem 1rem;
}

.jsoneditor-tree,
.jsoneditor-values {
  border: none;
}

.jsoneditor-search,
.jsoneditor-search table {
  border: none;
  margin-top: 2px;
}

table.jsoneditor-search div.jsoneditor-frame {
  margin-top: 2px;
}

table.jsoneditor-search div.jsoneditor-results {
  margin-top: 0.4rem;
}

table.jsoneditor-search input {
  margin-top: 0rem;
}

.jsoneditor .search input {
  width: 120px;
  border: none;
  outline: 0;
  margin: 1px;
}

.jsoneditor table.search td,
.jsoneditor table.search tr {
  border: none;
  background-color: transparent;
}

.jsoneditor .search .frame {
  border: solid 1px #ccc;
}

.icon-share-1.header-hover-aid {
  margin-left: 0.5rem;
}